* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: white;
}




/* Navbar */
.navbar {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2c7a4b;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.access-btn {
    background: #2c7a4b;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
/*Navber End*/






/* Hero Section */
.hero {
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(10, 30, 50, 0.75);
}

.hero-content {
    position: relative;
    color: white;
    width: 600px;
    padding: 120px 80px;
}

.badge {
    background: white;
    color: #2c7a4b;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #4ade80;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e2e8f0;
}

.buttons .btn {
    display: inline-block;
    margin-right: 15px;
    padding: 14px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.primary {
    background: #2c7a4b;
    color: white;
}

.secondary {
    border: 1px solid white;
    color: white;
}
/*Hero Section End*/