* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}



/* Navbar */
.navbar {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #30B868;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.access-btn {
    background: #30B868;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
/*Navber End*/


/* Hero Section */
.hero {
    height: 600px;
    background-image:url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;    
}
.hero-content {
    position: relative;
    color: white;
    width: 600px;
    padding: 120px 80px;
    margin-left: 380px;
}

.badge {
    background: white;
    color: #2c7a4b;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #30B868;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e2e8f0;
}

.buttons .btn {
    display: inline-block;
    margin-right: 15px;
    padding: 14px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.primary {
    background: #2c7a4b;
    color: white;
}

.secondary {
    border: 1px solid white;
    color: white;
}
/*Hero Section End*/






/* Problems Section */
.problems {
    padding: 100px 80px;
    background: white;
    text-align: center;
}

.problems h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.problems h2 span {
    color: #2c7a4b;
}

.subtitle {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 60px;
}

.problem-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 22%;
    background: #fafafa;
    padding: 30px 20px;
    border-radius: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    background: #ef4444;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto 20px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.5;
}

/* CTA Section */
.cta {
    background: #f9fafb;
    padding: 80px 60px;
    text-align: center;
    border-radius: 20px;
    margin: 60px 80px;
}

.cta h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.cta p {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta small {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    color: #9ca3af;
}



/* Solution Section */
.solution {
    display: flex;
    padding: 120px 80px;
    background: white;
}


/* Right side */
.solution-right {
    width: 50%;
    padding-left: 60px;
    margin-top: 100px;
}

.label {
    font-size: 12px;
    color:#30B868;
    font-weight: bold;
    letter-spacing: 1px;
}

.solution-right h2 {
    font-size: 34px;
    margin: 15px 0;
}

.desc {
    font-size: 15px;
    color: #6b7280;
    line-height: 1.6;
    margin-bottom: 25px;
}

.features {
    list-style: none;
    justify-content: center;
}

.features li {
    font-size: 14px;
    margin-bottom: 12px;
    color: #374151;
  
}

.footer {
    background-color: #061a2f;
    color: #ffffff;
    padding: 30px 90px 15px 90px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    height: 45px;
}

.footer-right {
    text-align: right;
}

.social-title {
    margin: 0 0 8px 0;
    font-size: 14px;
}

.social-icons a {
    display: inline-block;
    margin-left: 1px;
    width: 20px;
    height: 20px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    color: #061a2f;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;

}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.2);
}